<!DOCTYPE html>
<html>
  <head>
    <title>Null Fitness</title>
    <link rel='stylesheet' href='css/bootstrap.css' />
    <link rel='stylesheet' href='css/style.css' />
    <link rel='stylesheet' href='css/lp_style.css' />
  </head>
  <body>

    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
        <a class="navbar-brand" href="/">
          <img src="/images/logo.png" width="60" height="25" class="d-inline-block align-top" alt="">
          Null Fitness
        </a>
          <form class="form-inline mt-2 mt-md-0 ml-auto">
            <a class="btn btn-link" href="/login" role="button">Login</a>
            <a class="btn btn-primary" href="/register" role="button">New User</a>
          </form>
      </nav>
    </header>

    <!-- Main Page Display -->
    <main role="main" class="container">
      <section class="jumbotron text-center">
       <div class="container">
         <h1 class="jumbotron-heading text-white">Elevate your fitness...</h1>
         <p class="lead text-white">Track Weight. Build Workout Routines. Visualize Progress.</p>
       </div>
     </section>
    </main>
  </body>
</html>
