<!DOCTYPE html>
<html>
  <head>
    <title>Add User</title>
    <link rel='stylesheet' href='css/style.css' />
    <link rel='stylesheet' href='css/bootstrap.css' />
  </head>
  <body>
    <div class="d-flex justify-content-center">
      <a href="/"><img src="/images/logo.png"></a>
    </div>
    <h1>New User</h1>
    <form id="formAddUser" name="adduser" method="post" action="/users/register">
      <div class="form-group">
        <label class="bold">Username</label>
        <input type=text class="form-control" id="username" name="username" placeholder="Enter username">
      </div>
      <div class="form-group">
        <label class="bold">Email</label>
        <input type=email class="form-control" id="email" name="email" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label class="bold">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
      </div>
      <div style="display: flex">
        <button id="btnSubmit" type="submit" class="btn btn-primary">Sign Up</button>
        <p class="ml-auto">Already have an account? <a href="/login">Login Here</a></p>
      </div>
    </form>
  </body>
</html>
